.quaote {
  width: 100vw;
  height: 33%;
  color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
}

.quaote h2 {
  font-weight: 500;
}

.quaote h2,
.quaote span {
  display: inline-block;
  margin: 10px auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
